	
	<div class="wrapper">
		<label>Category</label>
		<select class="form-control data_content_list" style="width: 300px; float: left;">
			<option value="AdultMovie">Adult Movie</option>
			<option value="Movies">Movies</option>
			<option value="Drama">Drama</option>
			<option value="Entertainment">Entertainment</option>
			<option value="Documentary">Documentary</option>
			<option value="Netflix">Streaming (Netflix)</option>
			<option value="Disney">Streaming (Disney plus)</option>
			<option value="Amazon">Streaming (Amazon)</option>
			<option value="HBO">Streaming (HBO)</option>
			<option value="Animation">Animation</option>
			<option value="Music">Music</option>
			<option value="Sports">Sports</option>
			<option value="Utility">Utility</option>
			<option value="Game">Game</option>
			<option value="Comic">Comic</option>
			<option value="Subtitle">Subtitle</option>
			<option value="Notice">Notice</option>
		</select>
	</div>
	<div class="wrapper">
		<label>Page</label>
		<input type="number" class="form-control" name="page" value="1"  min="1" id="page_count" style="width: 70px; float: left; text-align: center;">
	</div>

	<div class="wrapper">
		<label>Search</label>
		<button class="btn btn-dark" id="find_torrent">LOOK UP</button>
	</div>

	<table class="table data_content">
	  <thead class="thead-dark">
	    <tr >
	      <th scope="col">ID</th>
	      <th scope="col">Category</th>
	      <th scope="col">NAME</th>
	      <th scope="col">OPTIONS</th>
	    </tr>
	  </thead>
	  <tbody class="site_data">
	  
	  </tbody>
	</table>