<div class="web_body">
	<div class="main_body_holder">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-9">
				<div class="slider_head">
					<button>토렌트홀 추천 영화</button>
				</div>			
				<div class="slider animated_holder">
								
					<div class="feature_slider animated_slide">
<!-- 						<div class="slider_content">
							<img src="https://i.imgur.com/gRHaTIY.jpg">
							<p>Doctor Slip</p>
							<span>Exiting</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/sABqang.jpg">
							<p>Start Up</p>
							<span>Action / Fantasy</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/n8FFeFk.jpg">
							<p>Q-Sex Healing</p>
							<span>Sci-fi</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/UXrtjT2.jpg">
							<p>Container</p>
							<span>Drama / Romance</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/PW9Q8Cr.jpg">
							<p>Good Liar</p>
							<span>Fantasy / Sci-fi</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/gRHaTIY.jpg">
							<p>Dracular</p>
							<span>Triller</span>
						</div>
						<div class="slider_content">
							<img src="https://i.imgur.com/iGtWEqo.jpg">
							<p>Ford V</p>
							<span>Crime / Drama</span>
						</div> -->
					</div>
					
					<button class="feature_button next"><i class="fas fa-caret-right"></i></button>
					<button class="feature_button prev"><i class="fas fa-caret-left"></i> </button>

				</div>

				<div class="row mt-3">
					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>성인 TOP10</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="adult_top_10">

							</ul>	
						</div>


					</div>

					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>영화 TOP10</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="movie_top_10">

							</ul>	
							
						</div>

						
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>TV드라마  TOP10</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="drama_top_10">

							
							</ul>	
							
						</div>

						
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>TV예능 TOP10</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="shows_top_10">

							
							</ul>	
							
						</div>

						
					</div>

					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>다큐/시사 TOP10</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="docs_top_10">

							</ul>	
							
						</div>

						
					</div>


					<div class="col-sm-12 col-md-6">
						<div class="slider_head">
							<button>자막자료실</button>
						</div>			
						<div class="post_container">
							<ul class="post_list" id="archive_top_10">

								
							</ul>	
							
						</div>

						
					</div>

				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3">
				<div class="col-sm-12 col-md-12" style="padding: 0">
					
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
				</div>


				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>공지</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="notice_list">
							<li class="post_row">
								<span class="num_pos_a"><i class="fas fa-caret-right"></i></span>
								<label class="post_title">FC2-PPV 1262038 県立K②現役モデルパイパン⑤ 野外露出で立ちバックで生中出し!! </label>
								<span class="list_time">11 : 47</span>
								<div class="clear"></div>
							</li>
							<li class="post_row">
								<span class="num_pos_a"><i class="fas fa-caret-right"></i></span>
								<label class="post_title">FC2-PPV 1262038 県立K②現役モデルパイパン⑤ 野外露出で立ちバックで生中出し!! </label>
								<span class="list_time">11 : 47</span>
								<div class="clear"></div>
							</li>
							<li class="post_row">
								<span class="num_pos_a"><i class="fas fa-caret-right"></i></span>
								<label class="post_title">FC2-PPV 1262038 県立K②現役モデルパイパン⑤ 野外露出で立ちバックで生中出し!! </label>
								<span class="list_time">11 : 47</span>
								<div class="clear"></div>
							</li>
							<li class="post_row">
								<span class="num_pos_a"><i class="fas fa-caret-right"></i></span>
								<label class="post_title">FC2-PPV 1262038 県立K②現役モデルパイパン⑤ 野外露出で立ちバックで生中出し!! </label>
								<span class="list_time">11 : 47</span>
								<div class="clear"></div>
							</li>
							<li class="post_row">
								<span class="num_pos_a"><i class="fas fa-caret-right"></i></span>
								<label class="post_title">FC2-PPV 1262038 県立K②現役モデルパイパン⑤ 野外露出で立ちバックで生中出し!! </label>
								<span class="list_time">11 : 47</span>
								<div class="clear"></div>
							</li>
						</ul>	
						
					</div>

					
				</div>



				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>인기글 TOP10</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="main_top_10">
						</ul>	
						
					</div>

					
				</div>




				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>토최신글</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="latest_update">
						</ul>	
						
					</div>

					
				</div>

			</div>
		</div>
	</div>
</div>