<div class="web_body">
	<div class="main_body_holder">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-9 list_holder">
				<div class="search_box">
					<input type="text" name="" class="search_input" placeholder="검색할 검색어를 입력해주세요">
					<button class="search_button">Search</button>
					<div class="clear"></div>
				</div>

				<div class="type_holder" style="display: none;">
				</div>

				<div class="row table_data" style="display: none;">

				</div>
				<table style="display: none;">
					<thead>
						<tr>
							<td><span>번호</span></td>
							<td><span>제목</span></td>
							<td><span>용량</span></td>
							<td><span>날짜</span></td>
						</tr>
					</thead>


					<tbody class="list_result_holder">

					</tbody>
				</table>	


				<div class="pagination">

				</div>	
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3">
				<div class="col-sm-12 col-md-12" style="padding: 0">
					
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
				</div>


				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>공지</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list"  id="notice_list">
							
						</ul>	
						
					</div>

					
				</div>



				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>인기글 TOP10</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="main_top_10">
						</ul>	
						
					</div>

					
				</div>




				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>토최신글</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="latest_update">

						
						</ul>	
						
					</div>

					
				</div>

			</div>
		</div>


	</div>

</div>