<div class="web_body">
	<div class="main_body_holder">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-9 content_holder">
				


				<div class="view_torrent_header">
					<h1>
						<!-- <label class="post_title"></label> -->
					</h1>

					<div class="head_list">
						<div class=" icons sender">익명사용자 </div>
						<div class=" icons views"><i class="fas fa-eye"></i> <span>0</span></div>
						<div class=" icons like"><i class="far fa-thumbs-up"></i> <span>0</span></div>
						<div class=" icons dis_like"><i class="far fa-thumbs-down"></i> <span>0</span></div>
						<div class=" icons time" style="float: right;"><i class="far fa-clock"><iframe id="tor_viewer" src="#" style="width: 0; height: 0; display: none;"></iframe></i> <span>0</span></div>
						<div class="clear"></div>
					</div>
					<div class="tor_wrapper">
						<div class="torrent_info_holder">
							
						</div>



						<div class="torrent_image_holder">
							
						</div>
					</div>

				</div>
		
			</div>
			<div class="col-sm-12 col-md-12 col-lg-3">
				<div class="col-sm-12 col-md-12" style="padding: 0">
					
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
					<div class="gif_holder">
						
					</div>
				</div>


				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>공지</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list"  id="notice_list">

						</ul>	
						
					</div>

					
				</div>



				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>인기글 TOP10</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="main_top_10">
						</ul>	
						
					</div>

					
				</div>




				<div class="col-sm-12 col-md-12" style="padding: 0;">
					<div class="slider_head">
						<button>토최신글</button>
					</div>			
					<div class="post_container short_elip">
						<ul class="post_list" id="latest_update">

						
						</ul>	
						
					</div>

					
				</div>

			</div>
		</div>
	</div>
</div>